// Basics
@import "typography";
@import "colors";
@import "mixins";

// Atoms
@import "button";

// Molecules
@import "nav";

// Organisms
@import "hero";

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

a {
  color: inherit;
  &:hover {
    text-decoration: none;
  }
  &:focus {
    background-color: rgba(255,255,255,0.2);
  }
}

.sr-only {
  @include sr-only();
}

main {
  flex-grow: 1;
}

.page-header {
  background-color: $clr-accent;
  color: $clr-white;
}

[class^=page-footer] {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-areas: ". b c";
  row-gap: 4px;
  margin-bottom: 4px;
}

.page-footer--light {
  color: $clr-white;
  fill: $clr-white;
}

.footer-copyright {
  margin: 0;
  grid-area: b;
  place-self: center;
  text-align: center;
}

.footer-links {
  grid-area: c;
  place-self: end;

  margin: 0 24px;
  padding: 0;
  list-style-type: none;
  
  display: flex;
  justify-content: center;
  align-items: center;

  li {
    margin: 0 12px;
    
    a {
      display: block;
      line-height: normal;
    }
  }
}

@media only screen and (max-width: 600px) {
  [class^=page-footer] {
    grid-template-areas: "b b b" "c c c";
  }

  .footer-links {
    justify-self: center;
  }
}