block footer
    footer.page-footer
        p.footer-copyright: small Copyright 2020 by #[a(href="https://binyam.in", target="_blank") Binyamin Green]. Made with ❤️.
        ul.footer-links
            li
                a(href="https://github.com/b3u/readr" target="_blank" rel="external norefferer", aria-label="Visit us on GitHub")
                    include ../../assets/icons/bxl-github.svg
            li
                a(href="https://twitter.com/readrlist" target="_blank" rel="external norefferer" aria-label="Follow us on twitter")
                    include ../../assets/icons/bxl-twitter.svg
            li
                a(href="mailto:binyamingreen@protonmail.com?subject=Readr" rel="external" aria-label="Email Us")
                    include ../../assets/icons/bxs-envelope.svg