block footer
    footer.page-footer
        p.footer-copyright: small Copyright 2020 by #[a(href="https://binyam.in", target="_blank") Binyamin Green]. Made with ❤️.
        ul.footer-links
            li
                a(href="https://github.com/b3u/readr" target="_blank" rel="external norefferer")
                    img(src="assets/bxl-github.svg" alt="Visit us on GitHub")
            li
                a(href="https://twitter.com/readrlist" target="_blank" rel="external norefferer")
                    img(src="assets/bxl-twitter.svg" alt="Follow us on twitter")
            li
                a(href="mailto:binyamingreen@protonmail.com?subject=Readr" rel="external")
                    img(src="assets/bxs-envelope.svg" alt="Email us")