block header
    nav.nav
        a(href="/", aria-label="Home").logo
            include ../../assets/logo.svg
        ul.nav-links
            li.nav__link: a(href="#") Explore
            li.nav__link: a(href="#") Dashboard
            li.nav__link: a(href="#") Help