//- Default layout
block variables
    - var site_title = "Readr"
    - var site_tagline = "Readr - Curate and share your reading list"
    - var site_desc = "Maintain a full reading list. Share it with friends, so everyone can take suggestions."

<!DOCTYPE html>
html(lang="en")
    head
        include ../includes/head
    body
        block content