extends layouts/default

append variables
    - var page_title = "Binyamin's Reading List"

block content
    include includes/header
    main.page-main#bookWrap
        mixin book
            section.book
                img.book__thumbnail(src="assets/cover.jpeg", alt="")
                h2.book__title Harry Potter and the Philosopher's Stone
                p.book__author By Joanne Kathleen "Jo" Rowling
                p.book__details 405 pages &bull; 4.5/5 (Goodreads)
                p.book__desc Book five of The Chronicles of Narnia continues the saga of C.S. Lewis's beloved land of fantastic creatures and unlikely heroes. Readers of any age will be entranced as the crew of the Dawn Treader approaches the "Worlds End."
                details.actions
                    summary Actions
                    ul
                        li: a(href="#") Buy
                        li: a(href="#", role="button") Share
                        //- li: a(href="#", role="button") Delete
        +book
    include includes/footer